@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
  background: linear-gradient(to bottom, rgba(224, 255, 255, 0.2), 
  rgba(127, 255, 212, 0.3)), 
  url('img/background2.jpg');
  background-size: cover;
  margin: 0;
  overflow: hidden;
  align-items: center;
  
}

h1 {
    text-align: center;
    top: 6rem;
    font-family: Montserrat, sans-serif;
    color: seagreen ;
    font-size: 4rem;
    margin: 7rem;
  }

  .title {
    text-align: center;
    position: relative;
      width: 24em;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }

  .animation-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
  }
  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }

  .grid-container {
    position: absolute;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));*/
    grid-gap: 3rem;
    max-width: 150rem;
    top: 20%;
    margin: 0 auto;
    padding: 1rem;
    justify-self: center;
    align-items: center;
    /*transform: translate(25%, 10%);*/
    transition: ease 2s;
    
  }

  .grid-container :hover {
    transform: scale(1.1);
    
  }

  .blocks {
    align-self: center;
    height: 17rem;
    width: 22rem;
    font-size: 2rem;
    border: .1rem solid #006400/*#E0FFFF*/;
    padding: 0;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    opacity: 0;
  
  }



  h3 {
    font-size: 2rem;
    font-family: inherit;
    color: #E0FFFF;
    margin: 2rem;
  }

 h3:hover {
    color: #ADFF2F;
    text-decoration: underline;
  }


  .block1 {
    background-image: url('./img/flowers1.jpg');
    background-size: cover;
    border-radius: 30px 10px 10px 10px;
    justify-content: right;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    animation: Rotate1 1s 5s ease;
    animation-fill-mode: forwards;
  }

  .block2 {
    background-image: url('./img/garden1.jpg');
    background-size: cover;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: Rotate1 1s 7s ease;
    animation-fill-mode: forwards;
  }

.block3 {
    background-image: url('./img/garden2.jpg');
    background-size: cover;
    justify-content: left;
    border-radius: 10px 30px 10px 10px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    animation: Rotate1 1s 9s ease;
    animation-fill-mode: forwards;
}
.block4 {
    background-image: url('./img/flowers2.jpg');
    background-size: cover;
    justify-content: right;
    border-radius: 10px 10px 10px 30px;
    animation: Rotate1 1s 6s ease;
    animation-fill-mode: forwards;
  }
.block5 {
    background-image: url('./img/garden4.jpg');
    background-size: cover;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    animation: Rotate1 1s 8s ease;
    animation-fill-mode: forwards;
  }

.block6 {
    background-image: url('./img/garden5.jpg');
    background-size: cover;
    justify-content: left;
    border-radius: 10px 10px 30px 10px;
    animation: Rotate1 1s 10s ease;
    animation-fill-mode: forwards;
  }


  @keyframes Rotate1 {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }

  .footer-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 3rem;
    transform: translateX(-100%);
    margin: 0 auto;
    height: 5rem;
    width: 25rem;
    background-color: #006400;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    animation: MooveFooter 5s 11s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
   
  }

  .footer-container h3 {
align-self: center;
font-size: 2rem;

  }

  i {
    font-size: 2.5rem;
    color: #E0FFFF;;
    margin: 1rem 0;
    align-self: center;
  }

  .footer-container :hover {
    transform: scale(1.1);
    color: #ADFF2F;
  }

  @keyframes MooveFooter {
    0% {
      transform: translateX(-150%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    
    }
    
  }

  @media (max-width: 768px) {
    .container {
      height: 90vh;
      overflow: hidden;
    }

    h1 {
      font-size: 3rem;
      position: absolute;
      margin: 1rem;
    }

    .title {
      width: 600px;
      margin: 0 auto;
      white-space: wrap;
    }

    .grid-container {
      width: 60rem;
      margin: 0;
      grid-gap: 2rem;
     
    }

    .blocks {
      width: 170px;
    
      justify-content: center;
      border-radius: 10px;
      margin: 0;
      border: 1px solid #E0FFFF;
    }

    h3 {
      font-size: 20px;
    }
    @keyframes MooveFooter {
      0% {
        transform: translateX(-200%);
        opacity: 1;
      }
      100% {
        transform: translateX(70%);
        opacity: 1;
      
      }
  }
}

  @media (max-width: 500px) {

    .container {
      height: 100vh;
      overflow: hidden;
    }
    
    h1 {
      font-size: 2rem;
      position: absolute;
      margin: 0;
    }

    .title {
      width: 20rem;
      margin: 0 auto;
      white-space: wrap;
    }

    @keyframes typewriter{
      from{width: 0;}
      to{width: 20em;}
      }

    .container .grid-container {
      margin: 0;
      position: absolute;
      grid-template-columns: 1fr;
      grid-gap: .5rem;
      height: 40rem;
      justify-self: center;
      /*transform: translate(5%, 30%);
      margin: 0;
      /*display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;*/
    }

    .blocks {
      width: 30%;
      height: 90%;
      justify-self: center;
      border-radius: 10px;
      clip-path: none;
      margin: 0;
      border: 1px solid #E0FFFF;
    }

    h3 {
      font-size: 15px;
    }

    .footer-container {
      width: 40%;
      bottom: 4rem;
      animation: MooveFooter 3s 11s ease-in-out;
      animation-fill-mode: forwards;
    }
    .footer-container h3 {
    font-size: 1rem;
  }

    @keyframes MooveFooter {
      0% {
        transform: translateX(-100%);
        opacity: 1;
      }
      100% {
        transform: translateX(50%);
        opacity: 1;
      }
      
    }

  }
